/*
   Mojo's Pizza style sheet
   Filename: styles.css

   Author:   Joshua Richardson
   Date:     Oct. 7, 2019
 */

/* reset styles */
html {
   font-size: 16px;
}
a, article, body, dd, div, dl, dt, figcaption, figure, footer, header, h1, h2, h3, img,li, nav, p, section, ul {
   border: 0;
   padding: 0;
   margin: 0;
}
/* img {
	max-width: 100%;
	height: auto;
	width: auto;
} */

ol, ul {
	list-style-type: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* body and page container */
body {
   font-family: Arial, Helvetica, sans-serif;
}
.container {
  min-width: 50%;
  max-width: 50%;
  margin: 0 auto;
  padding: 0 3% 1em;
  background-color: ivory;
  overflow: auto;
}
/* body */
p {
   font-size: 1.3em;
   line-height: 1.6em;
}
a:link {
   color: ivory;
}
a:visited {
   color: ivory;
}

/* skip navigation link */
p.skipnavigation a {
   position: absolute;
   left: -10000px;
}
p.skipnavigation a:focus {
   color: ivory;
   background-color: ivory;
   top: 0.4em;
   left: auto;
   right: 0.4em;
   z-index: 2;
}

/* header section */
h1 {
   text-align: center;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-weight: 700;
   color: #013179;
   background-color: ivory;
   font-size: 2.4em;
}
h1 img {
   margin: 0 auto;
   display: block;
}
/* site navigation bar */
nav.sitenavigation {
   color: ivory;
   text-align: center;
   background-color: #013179;
}
nav.sitenavigation p {
   margin: 0.3em 0.5em;
   display: inline-block;
}

nav.sitenavigation li {
   margin: 0.3em 0.5em;
   display: inline-block;
   font-size: 1.3em;
   line-height: 1.4em;
}

nav.sitenavigation a:link {
   text-decoration: none;
   color: ivory;
}
nav.sitenavigation a:visited {
   color: ivory;
}
nav.sitenavigation a:hover, nav.sitenavigation a:focus {
   color: gray;
}

/* main content */
article {
   margin: 0 auto;
   padding: 1.4em;
   background-color: #7eccec;
   background: url("images/pizzabg2.jpeg");
}
article div {
   max-width: 800px;
   margin: 0 auto;
   padding: 0 3% 1em;
   background-color: ivory;
}

.container {
	min-width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 3% 1em;
	background-color: ivory;
	overflow: auto;
}

h2 {
   padding: 0.4em 0.4em 0;
   text-align: center;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-size: 2em;
   font-weight: 700;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
h3 {
   margin-top: 1.4em;
   font-size: 1.6em;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-weight: 700;
   clear: both;
}
article p {
   padding-top: 1em;
}
.wsite-content-title {
	font-family: Droid Serif;
	font-weight: 700;
	color: #da8044;
	font-style: italic;
	text-transform: uppercase;
	font-size: 58px;
	line-height: 60px;
	letter-spacing: 4px;
}

article figure {
   max-width: 100%;
   margin: 0 0 1em 1em;
   float: right;
}
article figcaption {
   text-align: center;
   font-weight: bold;
}

.social-icons {
  text-align: center;
  }
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:50px;
  height:50px;
  margin-right: 20px;
}

/* main content unordered lists */
ul {
	margin-left: 5%;
	line-height: 1.4em;
}
/* main content description list */
dt {
	font-weight: bold;
	font-size: 2em;
}
dd {
	font-size: 1.2em;
	margin: 0.4em 0 1em;
}

/* form styles */
form {
	padding: 10px;
}

/* fieldset styles */
fieldset {
	margin-bottom: 0.8em;
}
fieldset fieldset {
	margin-top: 1em;
	padding: 0.8em;
	border: 1px solid #777;
}
legend {
	font-size: 1.25em;
}
.contactinfo legend,
.commentsinfo legend {
	margin-left: -0.1em;
	font-weight: bold;
}
.schedule {
	position: relative;
}

.submitbutton {
	padding: 0.5em;
	margin-bottom: 0;
	text-align: center;
}

/* field styles */
.contactinfo input, textarea {
	border: 1px solid #ccc;
	padding: 0.2em;
	font-size: 1em;
}
select {
	margin-bottom: 0.6em;
}
.contactinfo input {
	position: absolute;
	left: 5em;
}
.schedule input {
	position: absolute;
	left: 10em;
}
#nameinput, #emailinput {
	width: 25em;
}
#phoneinput {
	width: 12em;
}
#submit {
	border: none;
	padding: 0.4em 0.6em;
	background-color: #e3d5ba;
	font-size: 1.25em;
	border-radius: 10px;
}
#feedback {
	height: 200px;
	width: 75%;
}
/* label styles */
label {
	font-size: 1em;
	line-height: 1.6em;
}
.contactinfo label {
	display: block;
	position: relative;
	margin: 0.8em 0;
}

/* footer section */
footer {
   padding: 0.6em;
   background-color: #013179;
   color: ivory;
   text-align: center;
}
.accent {
   font-weight: bold;
}

/* print styles */
@media print {
   body, h1, article, footer {
      color: rgb(0,0,0);
      background-color: rgb(255,255,255);
   }
   body {
      max-width: 100%;
   }
   nav {
      display: none;
   }
}
@page {
   margin: 0.75in;
}
